<div class="row gap-8 m-l-0 m-r-0">
  <a class="col taskboard-header p-y-16 p-x-16 text-white m-b-16 col text-center cursor-pointer font-weight-bold d-flex align-items-center justify-content-center"
    style="border-radius: 4px; background: linear-gradient(81deg, #115D85 -0.64%, #71ABCF 49.15%, #A1D7E5 100%)"
    [routerLink]="['/dashboards/adhoc-report']">
    <i-tabler name="file-plus" class="icon-26 m-r-4"></i-tabler>
    <span>Tạo BC đột xuất</span>
  </a>
  <a (click)="exportExcelAllFiles()"
    class="hover-container col taskboard-header p-y-16 p-x-16 text-white m-b-16 col text-center cursor-pointer font-weight-bold d-flex align-items-center justify-content-center"
    style="border-radius: 4px; background: linear-gradient(81deg, #115D85 -0.64%, #71ABCF 49.15%, #A1D7E5 100%); position: relative;">
    <mat-icon matSuffix class="icon-26 m-r-4">file_download</mat-icon>
    <span>Tạo BC định ngạch</span>
    <!-- <div class="w-100 p-y-16 p-x-16" style="background-color: #115D85; position: absolute; top: 20px; left: 0;"> hau1</div> -->
    <!-- <div style="position: absolute; top: 0px; left: 0; z-index: 1000 ; width: 100%;">
      <div style="height: 68px;"></div>
      <mat-card class="hover-card b-1 w-100" >      
        <mat-card-content class="b-t-1 p-0">        
          <mat-list role="list" class="text-left">
            <mat-list-item (click)="exportExcel(item.value)" *ngFor="let item of listExportBcDinhNgach" role="listitem" class="hover-item"><span class="f-d-14-m-12">{{item.name}}</span></mat-list-item>          
          </mat-list>          
        </mat-card-content>
      </mat-card>
    </div> -->
  </a>


</div>


<div style="text-align: center;font-size: 26px;font-weight: 600;line-height: normal;margin-bottom: 20px; ">
  Báo cáo gần nhất
</div>

<div class="m-t-24 d-flex justify-content-center overlay" *ngIf="loadingSpinner">
  <mat-spinner></mat-spinner>
</div>

<div class="main-filter">

  <div class="d-flex gap-12">

    <div *ngIf="isFilterTime || isFilterQuy" class="m-b-12">
      <button mat-flat-button color="warn" (click)="resetFilter()">
        <mat-icon matSuffix class="h-blue cursor-pointer">
          <i-tabler name="refresh" class="icon-20"></i-tabler>
        </mat-icon>
        Reset
      </button>
    </div>

    <div>
      <button mat-flat-button [color]="isFilterTime ? 'accent' : 'primary'" (click)="filterKhoanThoiGian()">
        Khoảng thời gian
      </button>
    </div>

    <div>
      <button mat-flat-button [color]="isFilterQuy ? 'accent' : 'primary'" (click)="filterQuy()">
        Quý
      </button>
    </div>
  </div>

  <div>
    <mat-form-field appearance="outline" class="w-100 hide-hint m-b-12">
      <mat-label>Search</mat-label>
      <input matInput (keyup)="applyFilterApply($any($event.target).value)" />
      <mat-icon matSuffix>
        <i-tabler name="search" class="icon-20"></i-tabler>
      </mat-icon>
    </mat-form-field>

  </div>

</div>

<div class="d-block align-items-center justify-content-between m-b-8">




  <!-- <button mat-flat-button class="text-white f-s-16 bg-success" (click)="exportExcelFilter()">
      <mat-icon matSuffix>file_download</mat-icon>
      Export to Excel
    </button> -->
  <a mat-flat-button class="text-white f-s-16 bg-success" (click)="exportExcelFilter()" href="javascript:void(0);">
    <mat-icon matSuffix>file_download</mat-icon>
    Export to Excel
  </a>


</div>

<mat-accordion>

  <mat-expansion-panel *ngFor="let item of allBaoCao$ | async" class="cardWithShadow">

    <mat-expansion-panel-header class="panel-header-height">

      <mat-panel-title class="mat-body-1">
        <!-- <div>
          <mat-icon matSuffix >
            <i-tabler name="trash" class="icon-24"></i-tabler>
          </mat-icon>
        </div>            -->
        <div>
          <div class="f-w-400 title-and-time-list-report">
            {{item.createdAt | date:'dd/MM/yyyy'}} ( {{item.quarter}} ) - {{item.name_cong_trinh}}
          </div>
          <div class="d-flex gap-12 m-t-12">
            <div class="f-w-700 f-s-line2 display-dia-diem-du-an" style="font-weight: 500;line-height: normal;">
              {{item.name_dia_diem}} - {{item.du_an}}
            </div>
            <div class="f-w-700 f-s-10 display-dia-diem-du-an-mobie" style="font-weight: 500;line-height: normal;">
              <div class="ten-dia-diem">{{ item.name_dia_diem }}</div>
              <div class="ten-dia-diem">{{ item.du_an }}</div>
            </div>
            <div class="d-flex gap-10 align-items-center justify-content-end">
              <div
                [class]="item.status === 'DONE' ? 'bg-success d-flex text-white mat-body-2 f-w-500 p-x-8 f-d-12-m-10 rounded-pill' : 'bg-warning d-flex text-white mat-body-2 f-w-500 p-x-8 f-d-12-m-10 rounded-pill'">
                {{item.status}}

                <!-- <mat-icon matSuffix (click)="editBaoCao($event,item)" class="h-blue">
                      <i-tabler name="arrow-big-up" class="icon-16"></i-tabler>
                    </mat-icon> -->

              </div>

              <!-- <span style="color: rgb(42, 196, 111);" class="d-flex mat-body-2 f-w-500 p-x-8 f-s-12 rounded-pill">DONE</span> -->

              <mat-icon *ngIf="item.status !== 'DONE'" matSuffix (click)="upDoneBaoCao($event,item._id)"
                class="h-green">
                <i-tabler name="arrow-big-up" class="icon-26"></i-tabler>
              </mat-icon>

              <mat-icon matSuffix (click)="editBaoCao($event,item)" class="h-blue">
                <i-tabler name="edit" class="icon-26"></i-tabler>
              </mat-icon>

              <mat-icon *ngIf="item.status !== 'DONE'" matSuffix (click)="deleteBaoCao($event,item._id)"
                class="h-red m-r-8">
                <i-tabler name="trash" class="icon-26"></i-tabler>
              </mat-icon>

              <!-- @if(item.status == 'WIP') {
                  <span style="background-color: rgb(255, 185, 1);" class="d-flex text-white mat-body-2 f-w-500 p-x-8 f-s-12 rounded-pill">WIP</span>
                }    
                @if(item.status == 'DONE') {
                  <span style="background-color: rgb(42, 196, 111);" class="d-flex text-white mat-body-2 f-w-500 p-x-8 f-s-12 rounded-pill">DONE</span>
                }    -->

            </div>
          </div>
        </div>
      </mat-panel-title>
    </mat-expansion-panel-header>
    <!-- <p *ngFor="let child of item.chi_tiet" class="mat-body-1 text-left" >
      Admin Dashboard is the backend interface of a website or an
      application that helps to manage the website's overall content and
      settings. It is widely used by the site owners to keep track of their
      website, make changes to their content, and more.
    </p> -->
    <mat-accordion>
      <mat-expansion-panel *ngFor="let product of item.chi_tiet ; let i = index" class="cardWithShadow m-t-10">
        <mat-expansion-panel-header style="height: 5rem">
          <mat-panel-title class="mat-body-1">
            <!-- <mat-icon matListItemIcon class="m-r-8">folder</mat-icon>  -->
            <span class="m-r-8 f-w-700 f-d-14-m-12">{{product['Vật
              liệu']}}</span> <span class="f-d-14-m-10">( số lượng {{product['Số lượng nhập']}} )</span>
          </mat-panel-title>
        </mat-expansion-panel-header>
        <form style="margin-top: 21px;">
          <mat-form-field class="w-100" appearance="outline">
            <mat-label class="mat-subtitle-2 f-w-400 m-b-8 d-block">Nhập số lượng</mat-label>
            <input type="number" disabled value="{{product['Số lượng nhập']}}" aria-label="Number" matInput />
          </mat-form-field>

          <!-- <mat-form-field class="w-100" appearance="outline">
            <mat-label class="mat-subtitle-2 f-w-400 m-b-8 d-block">Nhập đơn giá</mat-label>
            <input type="number" disabled value="{{product['Đơn giá']}}" aria-label="Number" matInput />
          </mat-form-field> -->

          <mat-form-field class="w-100" appearance="outline">
            <mat-label class="mat-subtitle-2 f-w-400 m-b-8 d-block">Mô tả hư hỏng</mat-label>
            <input disabled type="text" value="{{product['Mô tả hư hại']}}" matInput />
          </mat-form-field>
          <!-- <div class="custom-textarea-container">
            <textarea disabled id="damage-description" placeholder="Hình ảnh hư hại" rows="8" class="custom-textarea"></textarea>
          </div> -->
          <div class="d-flex flex-wrap gap-12">
            <div class="d-flex align-items-center justify-content-start gap-16"
              *ngFor="let image of product['Hình ảnh hư hại']">
              <div class="image-container">
                <img [src]="image || ''" alt="Hình ảnh đẹp">
              </div>
              <div>
                <mat-icon matSuffix class="h-blue cursor-pointer" (click)="viewImage(image || '')">
                  <i-tabler name="eye" class="icon-26"></i-tabler>
                </mat-icon>

                <mat-icon matSuffix class="h-blue cursor-pointer" (click)="chaneLinkViewImage(image || '')">
                  <i-tabler name="eye-share" class="icon-26"></i-tabler>
                </mat-icon>
              </div>
            </div>
          </div>
        </form>

      </mat-expansion-panel>

      <!-- <mat-card class="b-1 shadow-none m-t-20">
        <mat-card-header class="p-y-20">
          <mat-card-title>Tổng kilometer</mat-card-title>
        </mat-card-header>
        <mat-card-content class="b-t-1">
          <form style="margin-top: 21px;">
  
            <mat-form-field class="w-100" appearance="outline">
              <input disabled value="{{item['trip']}}"  placeholder="Nhập tổng kilometer của bạn" matInput />
          
            </mat-form-field>
          </form>
  
        </mat-card-content>
      </mat-card> -->

      <mat-card class="b-1 shadow-none m-t-20">
        <mat-card-header class="p-y-20">
          <mat-card-title>Văn bản liên quan</mat-card-title>
        </mat-card-header>
        <mat-card-content class="b-t-1">
          <form style="margin-top: 21px;">
            <mat-form-field class="w-100" appearance="outline">
              <textarea disabled value="{{item['note']}}" placeholder="Nhập văn bản liên quan" matInput rows="4"
                cdkTextareaAutosize cdkAutosizeMinRows="4" cdkAutosizeMaxRows="10">
          </textarea>
            </mat-form-field>
          </form>

        </mat-card-content>
      </mat-card>


    </mat-accordion>

  </mat-expansion-panel>


</mat-accordion>


<!-- <div style="text-align: center;font-size: 26px;font-weight: 600;line-height: normal;margin-bottom: 20px; margin-top: 20px">
  Danh sách báo cáo đột xuất
</div>


<div class="d-flex align-items-center justify-content-start m-b-8">
  <a (click)="exportToExcelBaoCaoDotXuat()" class="btn-export"
    style="border-radius: 4px;"
    mat-button    
    mat-flat-button
    class="text-white f-s-16 bg-success"
    ><mat-icon matSuffix>file_download</mat-icon>Export to Excel</a
  >
</div>
<mat-accordion>
  <mat-expansion-panel *ngFor="let item of listBaoCaoDotXuat" class="cardWithShadow">
    <mat-expansion-panel-header style="height: 5rem">
      <mat-panel-title class="mat-body-1">
        <div>
          <div class="f-w-400" style="font-size: 16px;font-weight: 300;line-height: normal;">
            {{item.time}} - {{item.title}} </div>
            <div class="d-flex gap-12 m-t-12">
              <div class="f-w-700 " style="font-size: 16px;font-weight: 500;line-height: normal;"> 
                {{item.description}} </div> 
              <div>
                @if(item.status == 'WIP') {
                  <span style="background-color: rgb(255, 185, 1);" class="d-flex text-white mat-body-2 f-w-500 p-x-8 f-s-12 rounded-pill">WIP</span>
                }    
                @if(item.status == 'DONE') {
                  <span style="background-color: rgb(42, 196, 111);" class="d-flex text-white mat-body-2 f-w-500 p-x-8 f-s-12 rounded-pill">DONE</span>
                }   
                  
              </div>
            </div>
        </div>
      </mat-panel-title>
    </mat-expansion-panel-header>
    <p class="mat-body-1 text-left">
      Admin Dashboard is the backend interface of a website or an
      application that helps to manage the website's overall content and
      settings. It is widely used by the site owners to keep track of their
      website, make changes to their content, and more.
    </p>
  </mat-expansion-panel>
  

</mat-accordion> -->


<div class="row">
  <div class="col">
    <mat-paginator class="m-t-6" (page)="handlePageEventApply($event)" [length]="totalRecordApply"
      [pageIndex]="pageIndexApply" [pageSize]="pageSizeApply" [pageSizeOptions]="pageSizeOptionsApply"
      [hidePageSize]="false" aria-label="Chọn trang">
    </mat-paginator>
  </div>
  <div class="col-2"></div>

</div>